@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --primary-color: rgba(248, 68, 100, 1.0);
    --light-primary-color: rgba(248, 68, 100, 0.3);
}

.allSeats {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.seat {
    width: 30px;
    height: 30px;
    border: 3.5px solid var(--light-primary-color);
    border-radius: 5px;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.row {
    display: flex;
}

.not-available-seat {
    background-color: var(--light-primary-color);
}

.your-seat {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.movie {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    color: white;
}

button {
    border-radius: 8px;
    height: 3rem;
    width: 10rem;
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 15px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-button {
    height: 2rem;
    width: 2rem;
    border: 3.5px solid var(--light-primary-color);
    border-radius: 8px;
}