:root {
    --primary-color: rgba(248, 68, 100, 1.0);
}
.main-div {
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.container {
    width: 70%;
    height: 50vh;
    background: linear-gradient(to right, black 50%, transparent 70%, black 100%), url('../assets/images/background.jpg') center/cover no-repeat;
    display: flex;
}

.poster {
    width: 14rem;
    height: 80%;
    margin: 2rem 2rem 2rem 0rem;
    border-radius: 8px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: white;
    margin-left: 0.65rem;
}

.rate {
    color: black;
    width: 7rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 0.96rem;
    margin-right: 20px;
    padding: 8px;
    cursor: pointer;
}

.rating {
    justify-content: space-between;
    height: 4rem;
    width: 25rem;
    margin: 1rem 0rem 1rem 0.65rem;
    background-color: rgb(82, 78, 78);
    border-radius: 8px;
    align-items: center;
    padding: 1rem 0rem;
}

.rating > div > img {
    width: 30px;
    height: 30px;
}

.book {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 8px;   
    width: 15rem;
    margin-top: 3rem;
    margin-left: 0.65rem;
    height: 3rem;
    font-size: 1.1rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.book-link {
    color: white;
    font-weight: bolder;
}

.language {
    color: black;
    background-color: white;
    width: 6rem;
    display: flex;
    justify-content: center;
    margin-left: 0.65rem;
    padding: 4px 7px;
    border-radius: 8px;
}

.rating-popup:not(:checked)>input {
    position: absolute;
    appearance: none;
}

.rating-popup:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating-popup:not(:checked)>label:before {
    content: '★';
}

.rating-popup>input:checked+label:hover,
.rating-popup>input:checked+label:hover~label,
.rating-popup>input:checked~label:hover,
.rating-popup>input:checked~label:hover~label,
.rating-popup>label:hover~input:checked~label {
    color: #e58e09;
}

.rating-popup:not(:checked)>label:hover,
.rating-popup:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.rating-popup>input:checked~label {
    color: #ffa723;
}

.rating-popup {
    margin-right: 50px;
}

.rating-container {
    width: 252px;
    height: 250px;
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
}

.rate-popup-title {
    font-weight: 600;
    font-size: 25px;
    color: var(--primary-color);
    display: block;
    text-align: center;
}

.toggle-popup {
    position: fixed;
    left: calc((100vw - 252px)/2);
    top: calc((100vh - 200px)/2);
}

.close-icon {
    width: 25px;
    height: 25px;
    position: relative;
    left: 180px;
    cursor: pointer;
}

.hide-div {
    display: none;
    visibility: hidden;
}