.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.movieTicket { 
    border: 1px dotted rgba(248, 68, 100, 1.0);
    border-radius: 0.5rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cost {
    border: 1px dotted #fff;
    border-radius: 0.5rem;
    width: 15rem;
    display: flex;
    justify-content: center ;
    padding: 0.5rem;
}

.margin {
    margin: 0.5rem 1rem
}

.row {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    width: 40rem;
}

.wh {
    width: 17.5rem;
    height: 8rem;
    border-color: black;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}