/* ---------- Root Variables ---------- */
:root {
    --primary-color: #f84464;
}

/* ---------- Universal Styles ---------- */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ---------- Body Background ---------- */
body {
    background-color: white;
}

/* ---------- Signup Card Styles ---------- */
.signup-card {
    background-color: #ffffff;
    max-width: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 9px;
    border: 2px solid rgba(248, 68, 100, 0.5);
    margin: 50px auto 40px auto; /* Centered margin */
}
.signup-heading {
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

.signup-subheading {
    opacity: 0.4;
    font-size: 13px;
}

/* ---------- Flexbox Layout for Form Sections ---------- */
.signup-card.add-movie {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.left-side-form, .right-side-form {
    width: 100%;
}

@media (min-width: 768px) {
    .signup-card.add-movie {
        flex-direction: row;
    }
    .left-side-form {
        padding-right: 20px;
    }
    .right-side-form {
        padding-left: 20px;
    }
}

/* ---------- Google Button ---------- */
.google-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: rgb(23, 23, 23);
    border-radius: 20px;
    padding: 5px 5px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    max-width: 250px;
    font-size: 15px;
    margin: 0 auto 15px auto;
    border: none;
    outline: none;
    cursor: pointer; /* Add a pointer cursor */
}
.google-btn img {
    width: 30px;
    height: 30px;
    background-color: white;
}
.google-btn:hover {
    transform: scale(1.05);
}

/* ---------- Input Hover Effect ---------- */
input:focus, textarea:focus {
    outline: 2px solid var(--primary-color);
    box-shadow: 0 0 5px rgba(248, 68, 100, 0.5);
}

/* ---------- Mobile Responsiveness ---------- */
@media (max-width: 768px) {
    .signup-card {
        width: 90%; /* Adjusts to a smaller size on smaller devices */
    }
}
