footer > div {
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.footer-right{
    width: 50%;
    padding: 20px;
}

.footer-right > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-right > p {
    color: white;
    margin-right: 150px;
}

.footer-left {
    width: 50%;
    padding: 20px;
}

.footer-left > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.footer-left > div > span, .footer-right > div {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-right: 10px;
}

.footer-left > div > a {
    color: white;
    text-decoration: none;
    margin-right: 12px;
    font-weight: 500;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.footer-links > a:hover {
    color: rgba(255, 255, 255,0.8);
}

.footer-bottom {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* tablet screen  */
@media (max-width: 768px) {
    footer > div {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }
    .footer-left, .footer-right {
        width: 100%;
        padding: 10px;
    }
    .footer-right > p {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-left > div {
        justify-content: center;
    }

    .footer-left > div > span, .footer-right > div {
        font-size: 24px;
    }

    .social-icon {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}

/* mobile screen  */
@media (max-width: 480px) {
    .footer-left > div > span, .footer-right > div {
        font-size: 20px;
    }

    .social-icon {
        width: 25px;
        height: 25px;
    }

    .footer-links a {
        margin-right: 8px;
        font-size: 14px;
    }
}