@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  @apply transition-colors duration-300
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Scroll Bar */

::-webkit-scrollbar{
  width: 0.8em;
}

::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 100vw;
  margin-block:.5em ;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(247, 133, 154),rgba(248, 68, 100, 1.0));
  border-radius: 100vw;
} 
@supports (scrollbar-color:#ba9bf4,#6967d8){
  *{
      scrollbar-color:#ba9bf4 #6967d8;
  }
}