@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply transition for color changes globally */
* {
  @apply transition-colors duration-300;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Use 'hidden' to avoid content spilling horizontally */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%; /* Correct usage for circular corners */
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(247, 133, 154), rgba(248, 68, 100, 1.0));
  border-radius: 50%;
}

/* Styling for browsers that support scrollbar-color property */
@supports (scrollbar-color: #ba9bf4 #6967d8) {
  * {
    scrollbar-color: #ba9bf4 #6967d8;
  }
}
